// Fonts
$font: "Space Mono", monospace;

// Media Queries
$tabletMed: 480px;
$tabletBig: 768px;
$desktopMed: 1024px;
$desktopBig: 1440px;

// Colors
$button: hsl(212, 100%, 50%);
$buttonHover: hsl(212, 100%, 69%);
$white: hsl(0, 0%, 100%);
// * Light Colors
$dateLM: hsl(217, 20%, 51%);
$textInfoLM: hsl(217, 35%, 45%);
$textDarkLM: hsl(217, 21%, 21%);
$backgroundLM: hsl(227, 100%, 98%);
// * Dark Colors
$backgroundDM: hsl(220, 40%, 13%);
$cardBackgroundDM: hsl(222, 41%, 20%);
